<div class="container">
    <div class="column">
        <table 
            id="actores-table"
            datatable
            *ngIf="jugadores"
            [dtOptions]="dtOptions"
            class="table display datatable-table is-fullwidth has-text-gray" >
            <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Cod Seguridad</th>
                    <th>St encontrados</th>
                    <th>Fecha de registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of jugadores">
                    <th>{{i.cod_user}}</th>
                    <td>{{i.cod_security}}</td>
                    <td>{{i.count_stickers}}</td>
                    <td>{{i.created_at | date:'dd-MM-yyyy'}}</td>
                    <td><button type="button" class="button is-info">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>