<div id="contenedor" [style.--bgColor]="isDay ? 'rgb(187, 160, 27)' : '#223344'"
    [style.--bgColor2]="isDay ? 'rgb(208, 37, 7)' : '#090a0f'"
    [style.--accentColor]="'#FFF'" 
    [style.--delay]="'.3s'">
   
    <div class="modal" id="modal-popup" *ngIf="show_modal">
      <span class="modal-close" (click)="close_popup()">&times;</span>  
      <a [href]="link" style="text-decoration: none; color: black;" >
        <p class="alerta">Atencion!</p>
        <!--<p style="font-size: 14px;line-height: 1; letter-spacing: -0.5px; margin-top: 5px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Estamos en busca de nuevos administradores, ¿te interesa? Rellena el formulario<a href="https://forms.gle/PSzpV9SkcuUM1iM46" style="text-decoration: none; margin-left: 2px;"><strong style="color: red;">AQUI</strong></a></p>-->
        <p style="font-size: 14px;line-height: 1; letter-spacing: -0.5px; margin-top: 5px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Estamos en busca de nuevos administradores, ¿te interesa? Rellena el formulario
          <a [href]="link" style="text-decoration: none; margin-left: 2px;"><strong style="color: red;">AQUI</strong></a></p>
        <p class ="link-alert"><a [href]="link"><strong>ENTRA AQUI</strong></a></p>
      </a>
    </div>
    <!-- Parallax Pixel Background Animation -->
    <section class="animated-background">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </section>
    <!-- End of Parallax Pixel Background Animation -->

    <a id="profilePicture" href="https://www.instagram.com/comunidaduct/" target="_blank">
      <img src="../assets/img/coipo_color_min.png" alt="Mirame el coipo">
    </a>

    <div id="userName">
      Comunidad UCT
    </div>
    
    <div id="links">
      <a class="link" *ngFor="let item of nombres; let i = index" href="{{item['link']}}" target="_blank">
        <i class="{{item['clase']}}">&nbsp;</i>
        <ng-container *ngIf="i === 0; then strongName else regularName"></ng-container>
        <ng-template #strongName><strong>{{item['nombre']}}</strong></ng-template>
        <ng-template #regularName>{{item['nombre']}}</ng-template>
      </a>
    </div>
    

    <div id="hashtag">
      #BeHappy❤
    </div>
</div>
