<div class="container">
  <div class="columns" style="padding-top: 20px;" >
    <div class="column" style="display: flex; justify-content: center;">
      <img src="../assets/img/UCTLAND.png" alt="Minecraft" class="img-fluid">
    </div>
  </div>

  <!--<div id="text-cont"class="columns" style="background-color: rgb(38, 38, 38);">
    <div class="column subtitle-minecarft">
      Tiempo restante para el evento
    </div>
  </div>
  <div id="contador" class="columns is-mobile">
    <div class="column">
      {{hours}}h
    </div>
    <div class="column">
      {{minutes}}m
    </div>
    <div class="column">
      {{seconds}}s
    </div>
  </div>-->
  <a><div id="text-redes"class="columns" style="" routerLink="/">
    <div class="column">
      Aprietame para ver nuestras redes y enlace a discord
    </div>
  </div></a>
  <div id="ip" class="columns">
    <div class="column">
      IP: {{servidor}}
    </div>
  </div>
  <div class="columns" style="background-color: rgb(38, 38, 38);">
    <div class="column subtitle-minecarft">
      Datos servidor:
    </div>
  </div>
  <div class="container-info">
    <div class="columns">
      <div class="column">
        <!-- Generar  lista-->
        <ul>
          <li *ngFor="let item of info; let i = index">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="columns" style="background-color: rgb(38, 38, 38);">
    <div class="column subtitle-minecarft">
      Estado del servidor:
    </div>
  </div>
  <div class="container-info">
    <div class="columns">
      <div class="column is-one-fifth" style="text-align: center; color:white">
        <p-card
        [style]="{'background-color': infoServer.online ? 'rgba(7, 255, 34, 0.49)' : 'rgba(255, 0, 0, 0.305)'}"
        >
          <p style="color: white" *ngIf="infoServer.online">Server Online</p>
          <p style="color: white" *ngIf="!infoServer.online">Server Offline</p>
        </p-card>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="title-players-conected" style="text-align: center;">
              Jugadores conectados: {{infoServer.players.online}}/{{infoServer.players.max}}
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="cont-player-info"*ngFor="let item of infoServer.players.list">
              <div class="cont-img-player" >
                <img class="img-player"  src="https://minotar.net/helm/{{item}}/32" alt="{{item}}">
              </div>
              <div class="cont-name-player">
                <p>{{item}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--<div class="columns head-titles" >
    <div class="column subtitle-minecarft">
      Reglas del servidor
    </div>
  </div>-->
  <div class="columns head-titles" >
    <div class="column subtitle-minecarft" (click)="change_view('rules')">
      Reglas del servidor
    </div>
    <div class="column subtitle-minecarft" (click)="change_view('comandos')">
      Comandos
    </div>
  </div>
  <div class="container-rules" *ngIf="rules">
    <div class="rules-chat">
      <div class="columns" style="margin-bottom: 0px;">
        <div class="column title-mine" style="margin-bottom: 0px;">
          Reglas chat Minecraft
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <!-- Generar  lista-->
          <ul>
            <li *ngFor="let item of reglas_chat; let i = index ">{{i+1}}. {{ item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="rules-game">
      <div class="columns" style="margin-bottom: 0px;">
        <div class="column title-mine">
          Reglas del juego
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <!-- Generar  lista-->
          <ul>
            <li *ngFor="let item of reglas_juego; let i = index">{{i+1}}. {{item}}</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="rules-foults">
      <div class="columns" style="margin-bottom: 0px;">
        <div class="column title-mine">
          Faltas
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <!-- Generar  lista-->
          <ul>
            <li style="background-color: rgba(157, 255, 0, 0.305);">Menos leve: {{faltas['Menos leve']}}</li>
            <li style="background-color: rgba(255, 255, 0, 0.305);">Leve: {{faltas['Leve']}}</li>
            <li style="background-color:  rgba(255, 165, 0, 0.305)">Grave: {{faltas['Grave']}}</li>
            <li style="background-color: rgba(255, 0, 0, 0.305);">Gravísima: {{faltas['Gravísima']}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-rules" *ngIf="comandos">
    <div class="rules-game">
      <div class="columns" style="margin-bottom: 0px;">
        <div class="column title-mine">
          Comandos
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <!-- Generar  lista-->
          <ul>
            <li *ngFor="let item of comandos_list; let i = index"><strong style="color: #FFFFFF;">{{i+1}}. {{item.command}}</strong> <br> {{item.desc}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
