<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Formulario postulacion admin</h1>
    </div>
  </div>
  <div id="is-uct">
    <div class="columns">
      <div class="column">
        ¿Eres de la UCT?
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <!--<p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"></p-selectButton>-->
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer">
            Si
          </label>
          <label class="radio">
            <input type="radio" name="answer">
            No
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="old-year">
    <div class="columns">
      <div class="column">
        ¿Que edad tienes?
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <input class="input" type="text" placeholder="Ingresa tu edad" width="200">
    </div>
  </div>
</div>
