<div class="container">
    <div class="columns">
        <div class="column">
            <div class="columns">
                <div class="column centrar">
                    <p class="title">Listado de administradores</p>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p-button label="Agregar nuevo admin" (click)="showDialog()" icon="pi pi-check" styleClass="p-button-sm"></p-button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <table class="table" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>Nick</th>
                            <th>Nombre</th>
                            <th>Pagina</th>
                            <th>Ingreso</th>
                            <th>Estado</th>
                            <th>Rol</th>
                            <th>Opcion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of admins">
                            <td>{{item.username}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.tipo}}</td>
                            <td>{{item.ingreso | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.estado}}</td>
                            <td>{{item.rol}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-primary" (click)="show_modal();getAdmin(item.id)">Editar</button>
                                    <button class="button is-warning">Eliminar</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Registro de nuevo administrador" [(visible)]="displayModal" [style]="{width: '50vw'}">
    <div class="columns">
        <div class="column">
            Nickname
        </div>
        <div class="column">
            <input class="input" type="text"  name="username" [(ngModel)]="username" placeholder="Text input">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Nombre
        </div>
        <div class="column">
            <input class="input" type="text" name="name"  [(ngModel)]="nombre" placeholder="Text input">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Ingreso
        </div>
        <div class="column">
            <input type="date" [(ngModel)]="ingreso" name="ingreso" >
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Pagina
        </div>
        <div class="column">
            <div class="select">
                <select [(ngModel)]="tipo" [value]="">
                  <option value="10" selected>Confesiones</option>
                  <option value="11">Ayuda</option>
                  <option value="12">Napping</option>
                  <option value="13">Encuestas y memes</option>
                </select>
              </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Rol
        </div>
        <div class="column">
            <div class="select">
                <select [(ngModel)]="rol" [value]="">
                    <!--<option value="1" selected>Super Admin</option>-->
                    <option value="2" selected>Admin Jefe</option>
                    <option value="3">Jefe pagina</option>
                    <option value="4">Comun</option>
                    <option value="5">Otro</option>
                </select>
              </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            Password
        </div>
        <div class="column">
            <input class="input" type="password" name="pass" [(ngModel)]="password" placeholder="Text input">
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-xmark" (click)="displayModal=false" label="Cancelar" styleClass="p-button-danger"></p-button>
        <p-button icon="pi pi-check" (click)="registrrarAdmin();displayModal=false" label="Agregar"  styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<div class="modal" id="modal-edit-admin">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modal title</p>
        <button class="delete" aria-label="close" (click)="show_modal()"></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success">Save changes</button>
        <button class="button" (click)="show_modal()">Cancel</button>
      </footer>
    </div>
</div>