<div class="container">
    <div class="elements">
        <div class="columns">
            <div class="column centrar">
                <p class="title" style="font-size: 18px; text-align: center;">Rutas de micros que pasan por los diferentes campus</p>
            </div>
        </div>
        <div class="columns" style="margin-top: 20px;">
            <div class="column">
                <div class="columns">
                    <div class="column centrar">
                        Por linea
                    </div>
                </div>
                <div class="columns">
                    <div class="column centrar">
                        <div class="select is-small">
                            <select>
                                <option>7B</option>
                                <option>7A</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column centrar">
                        Por Campus
                    </div>
                </div>
                <div class="columns">
                    <div class="column centrar">
                        <div class="select is-small">
                            <select>
                            <option>San juan Pablo II</option>
                            <option>San Francisco</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mapa" style="height: 500px;"></div>
</div>
    

    


